<!DOCTYPE html>
<html>
<head>
	<title>To</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
	<link rel="stylesheet" type="text/css" href="css/bootstrap.min.css">
  	<link rel="stylesheet" href="css/bootstrap-slider.min.css">
	<link rel="stylesheet" type="text/css" href="css/roundslider.min.css">
	<link rel="stylesheet" type="text/css" href="css/remote.css">
	<link rel="stylesheet" type="text/css" href="css/rangeslider.css">
	<style type="text/css" id="css">
		button{
			margin-top: 5px;
		}
		#sent{
			padding-top: 30px;
			text-align: center;
		}
		#sent button{
			width: auto;
		}
		p{
			margin-top: 15px;
			text-align: center;
		}
	</style>
</head>
<body ng-app="APP" ng-controller="mainCtrl">
	<p>To: {{to}} Buffer: {{buf}}</p>
	<div class="row">
		<div class="col col-6">
			<button ng-repeat="s in steps" type="button" ng-click="selMach(s);" class="btn btn-light">{{s}}</button>
		</div>
		<div class="col col-6">
			<button ng-repeat="b in buffers" type="button" ng-click="selBuffer(b);" class="btn btn-light">Buffer {{b}}</button>
		</div>
		<div class="col col-12" id="sent">
			<button type="button" ng-click="sent(b);" class="btn btn-light">Sent Command</button>
		</div>
	</div>
	<script type="text/javascript" src="js/jquery-2.2.4.min.js"></script>
	<script type="text/javascript" src="js/bootstrap.min.js"></script>
	<script src="js/bootstrap-slider.min.js"></script>
	<script type="text/javascript" src="js/angular.min.js"></script>
	<script type="text/javascript" src="js/socket.io.js" ></script>
	<script type="text/javascript" src="js/rangeslider.min.js" ></script>
	<script type="text/javascript" src="js/roundslider.min.js"></script>
	<script type="text/javascript">
		let app = angular.module('APP', []);
		app.controller('mainCtrl', function($scope, $http) {
			$scope.to = '';
			$scope.buf = '';
			$scope.steps = [];
			$scope.buffers = [7, 10 ,14];
			$http.get("/to/steps")
				.then(function(res) {
					$scope.steps = Object.keys(res.data);
				});

			$scope.selBuffer = (n)=>{
				$scope.buf = n;
			}
			$scope.selMach = (n)=>{
				$scope.to = n;
			}
			$scope.sent = ()=>{
				if($scope.to != '' && $scope.buf != ''){
					$http.get("/to/set/" + $scope.to + '/' + $scope.buf)
					.then(function(res) {
						alert(res.data);
					});
				}
			}
			// $(document).ready(function() {

			// });
		});
	</script>
</body>
</html>